AWS_REGION=eu-west-2
AWS_IOT_DATA_ENDPOINT=https://YOUR_ENDPOINT-ats.iot.eu-west-2.amazonaws.com
TELEMETRY_TABLE=SmartShelfTelemetry
ANALYSIS_TABLE=SmartShelfAnalysis
API_TOKEN=choose-a-long-random-value
SERVER_HOST=127.0.0.1
SERVER_PORT=8080

